* {
    margin: 0;
    padding: 0;
}
.login-container {
    display: flex;
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 50px;
}

.form-container {
    flex: 1;
    padding: 20px;
}
#h2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #081356;
    margin-top:50px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 50px;
}
#h1 {
    color: #071462;
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top:50px;
    margin-bottom:50px;
    margin-right:30px;
    margin-left:50px;
}
.image-container {
    flex: 1;
    margin-top:inherit;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}